h1 {
    color: darkblue;
}

h2 {
    color: blueviolet;
}

body {
    padding: 20px;
    width: 100%;
    height: 100%;
}

p {
    color: brown;
}

.page-header {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px; 
}

.post {
    padding-bottom: 10px;
    text-align: center;
}

