<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF8">
        <title>
            Ugandan Engineers
        </title>
    </head>
    <body>
        <header>
            <h1><a href="/">Engineers</a></h1>
        </header>

        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">My second post</a></h2>
            <h3>Proffesion</h3>
            <p>Aenean.</p>
            <h3>Personal</h3>
            <p>banen.</p>
        </article>

        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">My second post</a></h2>
            <h3>Proffesion</h3>
            <p>Aenean.</p>
            <h3>Personal</h3>
            <p>banen.</p>
        </article>
    </body>
</html>

